body {
    font: 14pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.7;
}
@page {
    /* switch to landscape */
    size: landscape;
    /* set page margins */
    margin: 1cm;
    @top-center {
        content: element(header);
    }
    @bottom-center {
        content: element(footer);
    }
    @bottom-right{
        content: counter(page) " of " counter(pages);
    }
}
div.header {
    display: block;
    text-align: center;
    position: running(header);
    width: 100%;
}

div.body {
    display: block;
    text-align: left;
    position: running(header);
    width: 100%;
}
div.footer {
    display: block;
    text-align: center;
    position: running(footer);
    width: 100%;
}
body {
    padding-top: 50px;
}
.custom-page-start {
    margin-top: 50px;
}